@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@media only screen and (max-width: 600px) {
    html, body {
    transition-duration: 1s;
    transition-delay: 0.2s;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(320deg, rgba(27, 27, 27),rgba(52, 52, 52),rgba(34, 34, 34));
}
header p{
        margin-left: auto;
        margin-right: auto;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 1.2em;
}
header{
    transition-duration: 1s;
    transition-delay: 0.2s;
    color: white;
    height: 80px;
   
    margin-left: auto;
    margin-right: auto;

}
body{

    background: linear-gradient();
}
section div img{
    width: 70%;
    height: 60%;

}
section div {
    display: flex;
    justify-content: space-around;

    border-style: solid;
    border-width: 0.5em;
    border-radius: 1em;
    border-color: #B678E6;


}
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html, body {
        transition-duration: 1s;
        transition-delay: 0.2s;
        margin: 0;
        height: 100%;
        box-sizing: border-box;
        background: linear-gradient(320deg, rgba(27, 27, 27),rgba(52, 52, 52),rgba(34, 34, 34));
    }
    header p{
            margin-left: auto;
            margin-right: auto;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 1.2em;
    }
    header{
        transition-duration: 1s;
        transition-delay: 0.2s;
        color: white;
        height: 80px;
       
        margin-left: auto;
        margin-right: auto;
    
    }
    body{
    
        background: linear-gradient();
    }
    section div img{
        width: 70%;
        height: 60%;
    
    }
    section div {
        display: flex;
        justify-content: space-around;
    
        border-style: solid;
        border-width: 0.5em;
        border-radius: 1em;
        border-color: #B678E6;
    
    
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html, body {
        transition-duration: 1s;
        transition-delay: 0.2s;
        margin: 0;
        height: 100%;
        box-sizing: border-box;
        background: linear-gradient(320deg, rgba(27, 27, 27),rgba(52, 52, 52),rgba(34, 34, 34));
    }
    header p{
        margin-left: auto;
        margin-right: auto;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 1.2em;
    }
    header{
        transition-duration: 1s;
        transition-delay: 0.2s;
        color: white;
        height: 80px;
       
        margin-left: auto;
        margin-right: auto;
    
    }
    body{
    
        background: linear-gradient();
    }
    section div img{
        width: 70%;
        height: 60%;
    
    }
    section div {
        display: flex;
        justify-content: space-around;
    
        border-style: solid;
        border-width: 0.5em;
        border-radius: 1em;
        border-color: #B678E6;
    
    
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html, body {
        transition-duration: 1s;
        transition-delay: 0.2s;
        margin: 0;
        height: 100%;
        box-sizing: border-box;
        background: linear-gradient(320deg, rgba(27, 27, 27),rgba(52, 52, 52),rgba(34, 34, 34));
    }
    header p{
            margin-left: auto;
            margin-right: auto;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 1.2em;
    }
    header{
        transition-duration: 1s;
        transition-delay: 0.2s;
        color: white;
        height: 80px;
       
        margin-left: auto;
        margin-right: auto;
    
    }
    body{
    
        background: linear-gradient();
    }
    section div img{
        width: 70%;
        height: 60%;
    
    }
    section div {
        display: flex;
        justify-content: space-around;
    
        border-style: solid;
        border-width: 0.5em;
        border-radius: 1em;
        border-color: #B678E6;
    
    
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html, body {
        transition-duration: 1s;
        transition-delay: 0.2s;
        margin: 0;
        height: 100%;
        box-sizing: border-box;
        background: linear-gradient(320deg, rgba(27, 27, 27),rgba(52, 52, 52),rgba(34, 34, 34));
    }
    header p{
            margin-left: auto;
            margin-right: auto;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 1.2em;
    }
    header{
        transition-duration: 1s;
        transition-delay: 0.2s;
        color: white;
        height: 80px;
       
        margin-left: auto;
        margin-right: auto;
    
    }
    body{
    
        background: linear-gradient();
    }
    section div img{
        width: 70%;
        height: 60%;
    
    }
    section div {
        display: flex;
        justify-content: space-around;
    
        border-style: solid;
        border-width: 0.5em;
        border-radius: 1em;
        border-color: #B678E6;
    
    
    }
}




footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 90px;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    margin-top:30px;
    padding:0;
    border-style: solid;
    border-width: 0.5em;
    border-radius: .4em;
    border-color:#f4f5f6;
    background-color: #f4f5f6;
    width: 95%;
    color: aliceblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: rgb(29, 141, 94);
    cursor: pointer;
}

.f{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer{
    color: rgb(0, 0, 0);
    position: relative;
    width: 95%;
    height: 50px;
}